@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
.container{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    background-color: antiquewhite;
    text-align: center;
}
.list{
    display: flex;
    flex-direction: column;
}

btn{
    width: 20px;
}